body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
span{
    color: #9E15BF;
}
.left-border{
    border-left: 5px solid #4AC6D2;
    padding-left: 2%;
}
    
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#4AC6D2, #9E15BF);
    font-weight: 400;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
}
.top-section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.img{
    height: fit-content;
    padding-top: 0%;
    padding-right: 0%;
}
p{
    padding-bottom: 5%;
}
.left-div-top-section{
    margin-top: 3%;
}
.mission-section{
    text-align: center;
}
.quarter-section{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10%;
}
.quarter-width{
    width: 20%;
    padding: 2%;
    border-radius: 15px;
    margin: 1%;
}
.quarter-width
img{
    width: 90%;
}
#q1{
    background-color: #ebf9fa;
}
#q3{
    background-color: #c2ecf0;
}
#q2{
    background-color: #f8e8fc;
}
#q4{
    background-color: #f2d1fa;
}
.frontend-section{
    display: flex;
    padding-bottom: 5%;
    padding-top: 0%;
}
.width-40{
    width: 40%;
}
.frontend-right-div{
    width: 60%;
    padding-right: 10%;
    padding-top: 0%;
    padding-left: 15%;
    margin-top: 0%;
}
.frontend-img{
    width: 100%;
    padding-left: 25%;
    padding-top: 0%;
}
.frontend-bg-img{
    background-image: url(./img/frontend-bg-img.png);
    background-repeat: no-repeat;
    margin: 1%;
}
.width-60{
    width: 60%;
}
.backend-section{
    display: flex;
    padding-bottom: 5%;
}
.width-60{
    width: 60%;
}
.width-40{
    width: 40%;
    padding-right: 5%;
}
.backend-img{
    width: 80%;
}
.backend-left-div{
    padding-left: 8%;
    padding-right: 5%;
}
.dream-project-section{
    text-align: center;
}
.dream-project-div{
    display: flex;
    margin-top: 0%;
    padding-top: 0%;
}
.half-width{
    width: 50%;
}
.chocolate-app-img{
    width: 42%;
    border-radius: 15px;
}
.dream-project-right-div{
    text-align: left;
}
.dream-project-bg-img{
    background-image: url(./img/shape-4.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: -80%;
}
#app-title{
    color: #4AC6D2;
}
footer{
    background-color: rgb(31, 30, 30);
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
    color: honeydew;
    padding: 3%;
}
.footer-span1{
    color: #9E15BF;
}
.footer-span2{
    color: #4AC6D2;
}